$mainColor: #9199af;
$mainColorH: #2896ca;
$mainBackground: #494d5a;
$mainBackground2: #3b3f4c;
$mainColorS: #0c374f;

* {
  font-family: "Lato", sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body > section {
  background-color: #3b3f4c;
  text-align: center;
  box-shadow: 0px 10px 110px rgba(0, 0, 0, 0.2);
  padding: 100px 0px;
}
.header-text {
  width: 100%;
  font-size: 34px;
  text-transform: capitalize;
  margin-top: 0;
  color: $mainColorH;
  margin-bottom: 50px;
  &::after {
    content: "";
    background-color: #2896ca;
    display: block;
    height: 2px;
    width: 30px;
    margin: 5px auto 0;
    opacity: 0.5;
  }
}
.padding {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.navigation-bar {
  float: right;
  list-style: none;
  top: 30%;
  position: fixed;
  z-index: 8000;
  right: 15px;

  li {
    position: relative;
    transition: .3s all ease-in-out;
    i {
      height: 30px;
      width: 30px;
      font-size: 18px;
      border: 1px solid #333;
      background-color: $mainBackground;
      color: $mainColor;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 15px;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      &:hover {
        color: $mainColorH;
      }
    }
    &:not(:last-of-type) i::after {
      position: absolute;
      bottom: -15px;
      content: "";
      display: block;
      height: 15px;
      width: 3px;
      background-color: #494d5a;
    }
    
  }
}
 
//start about
.about {
  background-color: #3b3f4c;
  text-align: center;
  box-shadow: 0px 10px 110px rgba(0, 0, 0, 0.2);
  padding: 70px 0px;
  .container {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-content {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    max-width: 700px;
    margin: auto;

    .profile-info {
      max-width: 320px;
      padding: 20px;
      margin: 0 auto;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      background-color: #494d5a;
      h1 {
        color: $mainColorH;
        font-size: 27px;

        &::after {
          content: "";
          background-color: $mainColorH;
          display: block;
          height: 2px;
          width: 60px;
          margin: 5px auto 0;
          opacity: 0.5;
        }
      }
      span {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 14px;
      }
      p {
        color: #9199af;
        font-size: 14px;
        line-height: 20px;
        max-width: 400px;
        margin: 0 auto;
      }
      .user-img {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #222;
        margin: 0 auto;
        border: 5px solid;
        border-color: #505463 #505463 #3b3f4c #3b3f4c;
        border-radius: 50%;
        overflow: hidden;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        img {
          display: block;
          width: 140px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:hover::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 2;
          top: -50px;
          left: -60px;
          height: 180px;
          width: 50px;
          background-color: rgba(200, 200, 200, 0.8);
          -webkit-transform: rotate(15deg);
          -ms-transform: rotate(15deg);
          transform: rotate(15deg);
          -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
        }
        &:hover::after {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          left: 90px;
          height: 180px;
          width: 50px;
          background-color: rgba(200, 200, 200, 0.2);
          -webkit-transform: rotate(15deg);
          -ms-transform: rotate(15deg);
          transform: rotate(15deg);
          -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
        }
        &::after {
          left: 150px;
          background-color: rgba(200, 200, 200, 0.8);
        }
        &::before {
          top: -10px;
          left: 90px;
          background-color: rgba(200, 200, 200, 0.2);
        }
      }
    }
    .profile-list {
      max-width: 320px;
      width: 310px;
      padding: 20px;
      margin: 0 auto;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      background-color: #494d5a;
      padding-bottom: 91px;

      table {
        margin: auto;
        tbody {
          display: inline-block;
          text-align: left;
          tr {
            td {
              padding: 7px 0px;
              &:first-of-type {
                float: left;
                width: 100px;
                color: #fff;
                font-size: 14px;
                text-transform: capitalize;
                margin-right: 5px;
              }
              &:last-of-type {
                color: $mainColor;
                font-size: 12px;
              }
            }
          }
        }
      }
      .social-links {
        list-style: none;
        width: 100%;
        margin: 12px auto 20px;
        padding-left: 5px;
        display: block;
        margin-top: 30px;

        li {
          -webkit-transition: none;
          transition: none;
          display: inline-block;
          float: left;
          a {
            width: 30px;
            height: 30px;
            background-color: $mainBackground2;
            color: $mainColor;
            font-size: 13px;
            margin: 2px 6px 5px;
            border-radius: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transition: 0.3s all ease-in-out;
            transition: 0.3s all ease-in-out;
            &:hover {
              background-color: $mainColorH;
              color: #fff;
              -webkit-transition: 0.3s all ease-in-out;
              transition: 0.3s all ease-in-out;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.skills {
  padding: 100px 0px;
  h2 {
    width: 100%;
    font-size: 34px;
    text-transform: capitalize;
    margin-top: 0;
    color: $mainColorH;
    margin-bottom: 30px;
    &::after {
      content: "";
      background-color: #2896ca;
      display: block;
      height: 2px;
      width: 30px;
      margin: 5px auto 0;
      opacity: 0.5;
    }
  }
  .skills-content {
    width: 80%;
    max-width: 700px;
    padding: 10px 20px;
    margin: 0 auto 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    .progress-content {
      margin-bottom: 14px;
      .personal-skills {
        h4 {
          color: #ddd;
          text-transform: capitalize;
          margin-top: 10px;
          font-size: 16px;
          margin-bottom: 25px;
          .fas {
            display: block;
            color: $mainColor;
            font-size: 20px;
            margin-bottom: 5px;
          }
        }
        .skills-box {
          margin-bottom: 10px;
          .skill-top {
            .name {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 0.5px;
              color: $mainColor;
              display: inline-block;
              float: left;
            }
            .nummber {
              float: right;
              text-transform: uppercase;
              font-size: 14px;
              line-height: 23px;
              font-weight: 600;
              letter-spacing: 0.5px;
              color: $mainColor;
              display: inline-block;
            }
          }
          .progress {
            width: 100%;
            height: 6px;
            overflow: hidden;
            font-size: 0.75rem;
            background-color: #e9ecef;
            border-radius: 0.25rem;
            .progress-bar {
              background-color: $mainColorH;
            }
          }
        }
      }
    }
  }
}
.Education {
  padding: 100px 0px;
  h2 {
    margin-bottom: 50px;
  }
  .education-content {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    li {
      position: relative;

      .timeline {
        position: relative;
        width: 45%;
        max-width: 320px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        background-color: #494d5a;

        .date {
          display: block;
          color: $mainColorS;
          padding: 5px 20px 6px;
          background-color: $mainColorH;
        }
        h4 {
          font-size: 18px;
          margin: 10px 0;
          color: $mainColorH;
        }
        h5 {
          color: #fff;
          font-size: 13px;
          margin: 0;
          text-transform: capitalize;
          padding: 0 20px;
        }
        p {
          text-align: left;
          padding: 0 20px;
          margin: 20px 0 15px;
          color: #9199af;
          font-size: 14px;
          line-height: 20px;
        }
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2000;
        top: 7px;
        left: 50%;
        margin-left: -10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 5px solid #4e5361;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #2896ca;
      }
      &::nth-of-type(odd) .timeline:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1000;
        top: 7px;
        right: -20px;
        border-width: 8px 10px;
        border-style: solid;
        border-color: transparent transparent transparent #2896ca;
      }
      &::nth-of-type(even) .timeline:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1000;
        top: 7px;
        left: -20px;
        border-width: 8px 10px;
        border-style: solid;
        border-color: transparent #2896ca transparent transparent;
      }
      &:nth-of-type(odd) .timeline {
        float: left;
      }
      &:nth-of-type(even) .timeline {
        float: right;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      height: 90%;
      width: 6px;
      margin-left: -3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color: #494d5a;
    }
  }
}
//********* start Portfolio *******
.Portfolio {
  padding: 100px 0px;
  p{
    padding: 0 20px;
    margin: 20px 0 15px;
    color: #9199af;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .portfolio-content {
    .project-img-box {
      position: relative;
      margin: 2px;
      img {
        display: block;
        height: 200px;
        max-width: 100%;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-transform: capitalize;
        display: none;
        .work-details {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-content: center;
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          .animated {
            width: 100%;

            h4 {
              margin: 10px 0;
              font-size: 17px;
              margin-block-start: 1.33em;
              margin-block-end: 1.33em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: bold;
            }
            h6 {
              color: #ccc;
              margin: 0 0 20px;
              font-size: 0.67em;
              margin-block-start: 2.33em;
              margin-block-end: 2.33em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: bold;
            }
          }
          .animated {
            width: 100%;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            a {
              text-decoration: none;
            }
            i {
              height: 35px;
              width: 35px;
              color: #fff;
              margin: 2px;
              border-radius: 50%;
              cursor: pointer;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              background-color: $mainColorH;
              &:hover {
                background-color: #494d5a;
              }
            }
          }
        }
        span {
          display: block;
          position: absolute;
          height: 1px;
          width: 0;
          background-color: #fff;
          -webkit-transition: 0.4s all ease-in-out;
          transition: 0.4s all ease-in-out;
        }
        span:nth-of-type(even) {
          width: 1px;
          height: 0;
        }
        span:first-of-type {
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        span:nth-of-type(2) {
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        span:nth-of-type(3) {
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        span:last-of-type {
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        span:nth-of-type(odd) {
          width: 100%;
        }
        span:nth-of-type(even) {
          height: 100%;
        }
      }
      &:hover .overlay {
        display: block;
      }
    }
  }
}
// start contact
.contact {
  .contact-content {
    width: 80%;
    max-width: 700px;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;

    form {
      padding: 20px;
      width: 50%;
      h3 {
        color: #ddd;
        padding: 10px;
        margin: 0 0 14px;
      }
      input {
        display: block;
        width: 100%;
        background-color: transparent;
        color: #aaa;
        font-size: 13px;
        padding: 8px;
        margin: 0 0 10px;
        border: 0;
        border-bottom: 1px solid #333742;
        outline: 0;
      }
      input:last-of-type{
        color: #0c374f;
    margin-top: 15px;
    cursor: pointer;
    background-color: #2896ca;
    &:hover{
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }
      }
      textarea {
        height: 120px;
        resize: none;
        display: block;
        width: 100%;
        background-color: transparent;
        color: #aaa;
        font-size: 13px;
        padding: 8px;
        margin: 0 0 10px;
        border: 0;
        border-bottom: 1px solid #333742;
        outline: 0;
      }
    }
    .map {
      padding: 0px;
      iframe {
        height: 356px;
        width: 100%;
      }
    }
  }
  .social-links {
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        height: 30px;
        width: 30px;
        background-color: #3b3f4c;
        color: #9199af;
        font-size: 13px;
        margin: 2px 2px 5px;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        i {
        }
        &:hover {
          width: 30px;
          height: 30px;
          background-color: $mainColorH;
          color: #fff;
          font-size: 13px;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }
    }
  }
}
